<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /exam/examify/
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /exam/examify/index.php [L]
</IfModule>